<div class="share sticky-top sticky-top-offset">
    <iframe id="ad" src="" width="120" height="240" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe>
        <script>
        function shuffle(array) {
          var currentIndex = array.length, temporaryValue, randomIndex;

          // While there remain elements to shuffle...
          while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }

          return array;
        }

        $.getJSON("/ad.json").then(function (data) {
            data = shuffle(data)[0]
            console.log(data);
            let element1 = $('#ad');
            element1.attr('src', data["src"]);
        });

    </script>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    {% endif %}
</div>
